*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
   background-color: #faedfd;;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-weight: bold;
}

/* Buttons */
.button {
  background-color: #FFF;
  border: solid 2px #3d5b7e;
  border-radius: 2em;
  font: inherit;
  font-weight: bold;
  padding: 0.75em 2em;
  cursor: pointer;
  -webkit-transition: all 1s; 
  transition: all 1s; 
}

button:hover{
  background-color: pink;
  color: #3d5b7e;
  border: solid 2px pink;
}
  
.header-wrapper {
  display: flex;
}

/* Navigation */
.navigation {
  display: flex;
  margin-left: auto;
}

.nav-item {
  padding: 10px;
  text-decoration: none;
  color: #3d5b7e;
  background-color: rgb(216, 198, 216);
  border-radius: 10px;
  box-shadow: 1px 1px 4px 0px #3d5b7e;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 1s; 
  transition: all 1s; 
}


.nav-item:hover, .nav-item.active-link{
  background-color: pink;
  color: #3d5b7e;
}

.circus-actions, .user-actions {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}
.circus-actions {
  background-color: pink;
  padding: 5px;
  border-radius: 10px;
}

.user-actions {
  margin-left: 10px;
  background-color: pink;
  padding: 5px;
  border-radius: 10px;
}
/* End Nav */
